section.application
  .container-wrap 
    .application-content
      h2 Заявка на франшизу
      p Укажите 
        b ваши данные 
        | и мы назначим дату встречи
        | или звонка
      a(href='#') Презентация
    .header-landing__content_form
      .application-form       
          form(action='')
            h3 Сделайте заявку на франшизу
              b прямо сейчас
              small и с вами свяжутся в ближайшее время
            .form-rows
              i.fa.fa-user-o(aria-hidden='true')
              |               
              input(type='text', placeholder='Ваше имя')
            | 
            .form-rows
              i.fa.fa-envelope-o(aria-hidden='true')
              |               
              input(type='text', placeholder='Ваш email')
            |            
            .form-rows
              i.fa.fa-mobile(aria-hidden='true')
              |               
              input(type='text', placeholder='Ваш телефон')
            button
          |           
          p.form-text Обработка Ваших персональных данных строго конфиденциальна.
