section.box-business
  .container-wrap
    h2 Бизнес в Коробке
    .box-business__wrap
      .box-business__wrap_item
        .box-business__wrap_item-pic.start
        .box-business__wrap_item-text
          span Старт
          p Мы поделимся всеми 
            br
            | наработками для
            br
            | успешного старта
            br
            | бизнеса в вашем регионе
      .box-business__wrap_item
        .box-business__wrap_item-pic.instruments
        .box-business__wrap_item-text
          span Инструменты
          p Готовые решения для 
            br
            | логистики доставки
            br
            | продуктов питания
      .box-business__wrap_item
        .box-business__wrap_item-pic.control
        .box-business__wrap_item-text
          span Управление
          p Вы получите бесплатный
            br 
            | доступ к собственной
            br
            | CRM-системе для учета всех
            br
            | бизнес-процессов компании
      .box-business__wrap_item
        .box-business__wrap_item-pic.brain
        .box-business__wrap_item-text
          span Знания
          p Профессиональные живые 
            br
            | тренинги и дистанционное
            br
            | обучение внутри системы
      .box-business__wrap_item
        .box-business__wrap_item-pic.marketing
        .box-business__wrap_item-text
          span Маркетинг
          p Эффективные каналы 
            br
            | продвижения и аналитика
      .box-business__wrap_item
        .box-business__wrap_item-pic.innovations
        .box-business__wrap_item-text
          span Инновации
          p Использование блокчейн 
            br
            | технологий в торговой
            br
            | платформе
