footer.footer
  .container-wrap
    .header-panel-logo
      img(src='img/content/logo.png')
    p.copyrigthing © Grosto, 2017
    .footer-soc
      p Мы в социальных сетях:
      span.footer-soc-item
        i.fa.fa-vk(aria-hidden='true')
      span.footer-soc-item
        i.fa.fa-facebook(aria-hidden='true')
      span.footer-soc-item
        i.fa.fa-google-plus(aria-hidden='true')
