header.header
  .container-wrap
    .header-panel
      .header-panel-logo
        img(src='img/content/logo.png')
      a(href="#").header-panel-order Заказать
    .header__content
      h1 Бизнес под ключ на продаже продуктов питания
      a(href="#").header__content-presentation Презентация
