section.platform
  .container-wrap
    h2 Международная торговая платформа Grosto
    ul.platform-list
      li Оптовая торговая платформа продуктов питания
      li Маркетплейс для розничной продажи
      li Система доставки
      li Аналитика цен продуктовых категорий за период
      li Каталог производителей
    .platform-pic
      img(src='img/content/procurement-fon.png')
    .platform-order Заказать
