section.tariffs
  .container-wrap
    h2 Тарифы
    .tariffs__wrap
      .tariffs__wrap_item
        .tariffs__wrap_item-title.tarif-start
          span.name Стартовый
          span.price 676 924 тг.
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Роялти:
              p 316 074 тг. в год
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Платформа:
              p Оптовая платформа 
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Локация:
              p Казахстан
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Доход:
              p 25% + бонусы
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Комиссия от партнеров:
              p —
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Срок действия франшизы:
              p ∞
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Маркетинговые материалы
        a(href="#").tarif-button
      .tariffs__wrap_item
        .tariffs__wrap_item-title.tarif-advanced
          span.name Расширенный
          span.price 1 014 068 тг.
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Роялти:
              p 487 280 тг. в год
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Платформа:
              p Маркетплейс, оптовая платформа, сервис доставки
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Локация:
              p Казахстан + закрепленный город
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Доход:
              p 25% + бонусы
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Комиссия от партнеров:
              p —
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Срок действия франшизы:
              p ∞
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Система доставки
        a(href="#").tarif-button  
      .tariffs__wrap_item
        .tariffs__wrap_item-title.tarif-master
          span.name Мастер
          span.price от 3 384 616 тг.
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Роялти:
              p 1 646 214 тг. в год
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Платформа:
              p Оптовая платформа 
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Локация:
              p Страна
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Доход:
              p 30% + бонусы
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Комиссия от партнеров:
              p 5%
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Срок действия франшизы:
              p ∞
        .tariffs__wrap_item-row
            .tariffs__wrap_item-row-box
              span Тренинги
        a(href="#").tarif-button
