section.we-offer
  .container-wrap
    h2 Что мы предлагаем?
    .we-offer__wrap
      .we-offer__wrap_item
        .we-offer__wrap_item-pic
          img(src='img/we-offer/we-offer-1.png')
        .we-offer__wrap_item-text Возможность войти в самую
          br
          | востребованную нишу и занять
          br
          | свое место
      .we-offer__wrap_item
        .we-offer__wrap_item-pic
          img(src='img/we-offer/we-offer-2.png')
        .we-offer__wrap_item-text Получать стабильный
          br
          | доход от своей сети
      .we-offer__wrap_item
        .we-offer__wrap_item-pic
          img(src='img/we-offer/we-offer-3.png')
        .we-offer__wrap_item-text Быструю окупаемость
          br
          | франшизы
      .we-offer__wrap_item
        .we-offer__wrap_item-pic
          img(src='img/we-offer/we-offer-4.png')
        .we-offer__wrap_item-text Обучение по открытию
          br
          | и развитию своего дела
      .we-offer__wrap_item
        .we-offer__wrap_item-pic
          img(src='img/we-offer/we-offer-5.png')
        .we-offer__wrap_item-text Маркетинговые материалы
      .we-offer__wrap_item
        .we-offer__wrap_item-pic
          img(src='img/we-offer/we-offer-6.png')
        .we-offer__wrap_item-text Знакомство с единомышленниками,
          br
          | обмен опытом,
          br
          | международный бизнес
