section.whom-this-business
  .container-wrap
    h2 Для кого этот бизнес?
    .whom-this-business__wrap
      .whom-this-business__wrap_item
        .whom-this-business__wrap_item-pic.people-first
        .whom-this-business__wrap_item-text
          | Начинающие предприниматели
      .whom-this-business__wrap_item
        .whom-this-business__wrap_item-pic.people-second
        .whom-this-business__wrap_item-text
          | Торговые агенты из ритейлов
      .whom-this-business__wrap_item
        .whom-this-business__wrap_item-pic.people-third
        .whom-this-business__wrap_item-text
          | Поставщики и дистрибьюторы
      .whom-this-business__wrap_item
        .whom-this-business__wrap_item-pic.people-fourth
        .whom-this-business__wrap_item-text
          | Бизнесмены
