// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$box-brain-name: 'box-brain';
$box-brain-x: 0px;
$box-brain-y: 874px;
$box-brain-offset-x: 0px;
$box-brain-offset-y: -874px;
$box-brain-width: 92px;
$box-brain-height: 92px;
$box-brain-total-width: 317px;
$box-brain-total-height: 966px;
$box-brain-image: '../img/sprite.png';
$box-brain: (0px, 874px, 0px, -874px, 92px, 92px, 317px, 966px, '../img/sprite.png', 'box-brain', );
$box-control-name: 'box-control';
$box-control-x: 0px;
$box-control-y: 414px;
$box-control-offset-x: 0px;
$box-control-offset-y: -414px;
$box-control-width: 92px;
$box-control-height: 92px;
$box-control-total-width: 317px;
$box-control-total-height: 966px;
$box-control-image: '../img/sprite.png';
$box-control: (0px, 414px, 0px, -414px, 92px, 92px, 317px, 966px, '../img/sprite.png', 'box-control', );
$box-innovations-name: 'box-innovations';
$box-innovations-x: 0px;
$box-innovations-y: 782px;
$box-innovations-offset-x: 0px;
$box-innovations-offset-y: -782px;
$box-innovations-width: 92px;
$box-innovations-height: 92px;
$box-innovations-total-width: 317px;
$box-innovations-total-height: 966px;
$box-innovations-image: '../img/sprite.png';
$box-innovations: (0px, 782px, 0px, -782px, 92px, 92px, 317px, 966px, '../img/sprite.png', 'box-innovations', );
$box-instruments-name: 'box-instruments';
$box-instruments-x: 0px;
$box-instruments-y: 690px;
$box-instruments-offset-x: 0px;
$box-instruments-offset-y: -690px;
$box-instruments-width: 92px;
$box-instruments-height: 92px;
$box-instruments-total-width: 317px;
$box-instruments-total-height: 966px;
$box-instruments-image: '../img/sprite.png';
$box-instruments: (0px, 690px, 0px, -690px, 92px, 92px, 317px, 966px, '../img/sprite.png', 'box-instruments', );
$box-marketing-name: 'box-marketing';
$box-marketing-x: 0px;
$box-marketing-y: 598px;
$box-marketing-offset-x: 0px;
$box-marketing-offset-y: -598px;
$box-marketing-width: 92px;
$box-marketing-height: 92px;
$box-marketing-total-width: 317px;
$box-marketing-total-height: 966px;
$box-marketing-image: '../img/sprite.png';
$box-marketing: (0px, 598px, 0px, -598px, 92px, 92px, 317px, 966px, '../img/sprite.png', 'box-marketing', );
$box-start-name: 'box-start';
$box-start-x: 0px;
$box-start-y: 506px;
$box-start-offset-x: 0px;
$box-start-offset-y: -506px;
$box-start-width: 92px;
$box-start-height: 92px;
$box-start-total-width: 317px;
$box-start-total-height: 966px;
$box-start-image: '../img/sprite.png';
$box-start: (0px, 506px, 0px, -506px, 92px, 92px, 317px, 966px, '../img/sprite.png', 'box-start', );
$application-button-name: 'application-button';
$application-button-x: 0px;
$application-button-y: 351px;
$application-button-offset-x: 0px;
$application-button-offset-y: -351px;
$application-button-width: 317px;
$application-button-height: 63px;
$application-button-total-width: 317px;
$application-button-total-height: 966px;
$application-button-image: '../img/sprite.png';
$application-button: (0px, 351px, 0px, -351px, 317px, 63px, 317px, 966px, '../img/sprite.png', 'application-button', );
$button-hover-name: 'button-hover';
$button-hover-x: 0px;
$button-hover-y: 39px;
$button-hover-offset-x: 0px;
$button-hover-offset-y: -39px;
$button-hover-width: 239px;
$button-hover-height: 52px;
$button-hover-total-width: 317px;
$button-hover-total-height: 966px;
$button-hover-image: '../img/sprite.png';
$button-hover: (0px, 39px, 0px, -39px, 239px, 52px, 317px, 966px, '../img/sprite.png', 'button-hover', );
$button-name: 'button';
$button-x: 0px;
$button-y: 299px;
$button-offset-x: 0px;
$button-offset-y: -299px;
$button-width: 239px;
$button-height: 52px;
$button-total-width: 317px;
$button-total-height: 966px;
$button-image: '../img/sprite.png';
$button: (0px, 299px, 0px, -299px, 239px, 52px, 317px, 966px, '../img/sprite.png', 'button', );
$circle-and-line-name: 'circle-and-line';
$circle-and-line-x: 0px;
$circle-and-line-y: 0px;
$circle-and-line-offset-x: 0px;
$circle-and-line-offset-y: 0px;
$circle-and-line-width: 169px;
$circle-and-line-height: 15px;
$circle-and-line-total-width: 317px;
$circle-and-line-total-height: 966px;
$circle-and-line-image: '../img/sprite.png';
$circle-and-line: (0px, 0px, 0px, 0px, 169px, 15px, 317px, 966px, '../img/sprite.png', 'circle-and-line', );
$circle-check-name: 'circle-check';
$circle-check-x: 0px;
$circle-check-y: 15px;
$circle-check-offset-x: 0px;
$circle-check-offset-y: -15px;
$circle-check-width: 24px;
$circle-check-height: 24px;
$circle-check-total-width: 317px;
$circle-check-total-height: 966px;
$circle-check-image: '../img/sprite.png';
$circle-check: (0px, 15px, 0px, -15px, 24px, 24px, 317px, 966px, '../img/sprite.png', 'circle-check', );
$people-1-name: 'people-1';
$people-1-x: 0px;
$people-1-y: 143px;
$people-1-offset-x: 0px;
$people-1-offset-y: -143px;
$people-1-width: 22px;
$people-1-height: 52px;
$people-1-total-width: 317px;
$people-1-total-height: 966px;
$people-1-image: '../img/sprite.png';
$people-1: (0px, 143px, 0px, -143px, 22px, 52px, 317px, 966px, '../img/sprite.png', 'people-1', );
$people-2-name: 'people-2';
$people-2-x: 0px;
$people-2-y: 91px;
$people-2-offset-x: 0px;
$people-2-offset-y: -91px;
$people-2-width: 34px;
$people-2-height: 52px;
$people-2-total-width: 317px;
$people-2-total-height: 966px;
$people-2-image: '../img/sprite.png';
$people-2: (0px, 91px, 0px, -91px, 34px, 52px, 317px, 966px, '../img/sprite.png', 'people-2', );
$people-3-name: 'people-3';
$people-3-x: 0px;
$people-3-y: 247px;
$people-3-offset-x: 0px;
$people-3-offset-y: -247px;
$people-3-width: 24px;
$people-3-height: 52px;
$people-3-total-width: 317px;
$people-3-total-height: 966px;
$people-3-image: '../img/sprite.png';
$people-3: (0px, 247px, 0px, -247px, 24px, 52px, 317px, 966px, '../img/sprite.png', 'people-3', );
$people-4-name: 'people-4';
$people-4-x: 0px;
$people-4-y: 195px;
$people-4-offset-x: 0px;
$people-4-offset-y: -195px;
$people-4-width: 24px;
$people-4-height: 52px;
$people-4-total-width: 317px;
$people-4-total-height: 966px;
$people-4-image: '../img/sprite.png';
$people-4: (0px, 195px, 0px, -195px, 24px, 52px, 317px, 966px, '../img/sprite.png', 'people-4', );
$spritesheet-width: 317px;
$spritesheet-height: 966px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($box-brain, $box-control, $box-innovations, $box-instruments, $box-marketing, $box-start, $application-button, $button-hover, $button, $circle-and-line, $circle-check, $people-1, $people-2, $people-3, $people-4, );
$spritesheet: (317px, 966px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
